@import "./global.css";
@import "./navbar.css";
@import "./home.css";
@import "./home2.css";
@import "./closet.css";
@import "./generator.css";
@import "./modal.css";
@import "./profile.css";
@import "./auth.css";
@import "./responsive.css";

